<!DOCTYPE html>
<html>
  <head>
    <title>Tiled Vegetation Index</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
